body  {
    background-color: lightblue;
}  
h1 {
    text-align: center;
    color: white;
    margin: 0 20% 0 20%;
}
.blue-title{
    color: blue;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}